@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.navbar-neon {
  font-family: neon;
  color: #fb4264;
  font-size: 40px;
  line-height: 60px;
  text-shadow: 0 0 3vw #f40a35;
  animation: navbar-neon 1s ease infinite;
  -moz-animation: navbar-neon 1s ease infinite;
  -webkit-animation: navbar-neon 1s ease infinite;
}

.navbar-flux {
  font-family: neon;
  color: #426dfb;
  font-size: 40px;
  line-height: 70px;
  text-shadow: 0 0 3vw #2356ff;
  animation: navbar-flux 2s linear infinite;
  -moz-animation: navbar-flux 2s linear infinite;
  -webkit-animation: navbar-flux 2s linear infinite;
  -o-animation: navbar-flux 2s linear infinite;
}

@keyframes navbar-neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

@keyframes navbar-flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}
